@model Product
@{
}
<div class="card product-item" data-product-id="@Model.Id">
    @if (Model.Images.Any())
    {
        <img src="@Model.Images.First().Src" class="card-img-top product-item__image" />
    }
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">$@Model.Price</p>
            </div>
            <div>
                <button class="btn btn-success add-to-cart">+</button>
            </div>
        </div>
    </div>
</div>