@model HomeIndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 category-items">
        @foreach (var category in Model.Categories)
        {
            @await Html.PartialAsync("_CategoryLinkItem", category)
        }
    </div>

    <div class="row">
        <div class="col-12">
            @await Html.PartialAsync("_SearchForm", Model.SearchForm,
            new ViewDataDictionary(ViewData) {
                        { "CategoryOptions", Model.SelectListCategories }
                        })
        </div>
    </div>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                @await Html.PartialAsync("_ProductCard", product)
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/cart.js"></script>
}
