@model UserProfileForm
@{
    
}

<div class="row">

    <div class="col-md-6">
        @await Html.PartialAsync("_UserProfileCard", ViewData["User"])
    </div>

    <div class="col-md-6">

        <form method="post" enctype="multipart/form-data">
            <div class="card">

                <div class="card-header">
                    <h3>Update profile</h3>
                </div>

                <div class="card-body">


                    <div class="mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                       
                    </div>

                    <div class="mb-3">
                        <label asp-for="Image" class="form-label"></label>
                        <input asp-for="Image" accept=".jpg,.jpeg,.png" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    

                </div>

                <div class="card-footer d-flex justify-content-between">

                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">Cancel</a>

                </div>

            </div>
        </form>


    </div>

</div>