@model User
@{
}


<div class="row">
    
    <div class="col-md-6">
        @await Html.PartialAsync("_UserProfileCard", Model)
    </div>
    <div class="col-md-6">

        <a asp-controller="Profile" asp-action="ChangePassword" class="btn btn-danger">Change password</a>


    </div>

</div>
