@model ProductForm
@{
    ViewData["Title"] = "Create Product";
}

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_ProductForm", Model)
    </div>
    <div class="col-md-6">
        
    </div>
</div>

