@model ProductForm
@{
    ViewData["Title"] = "Edit Product";
    var productId = ViewData["ProductId"] as int?; 
}

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_ProductForm", Model)
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Images</h3>
            </div>
            <div class="card-body" id="images-content"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadImages() {
        fetch('@Url.Action("Images", "Product", new { id = productId })')
            .then(r => r.text())
            .then(html => {
                document.getElementById('images-content').innerHTML = html;
                document.querySelectorAll("button.confirm-image-delete").forEach(button => {
                    button.addEventListener("click", function () {
                        const imageId = this.getAttribute("data-id");
                        Swal.fire({
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!"
                        })
                        .then((result) => {
                            if (result.isConfirmed) {
                                fetch(`@Url.Action("DeleteImage", "Product")/${imageId}`, {
                                    method: "DELETE"
                                })
                                .then(r => r.json())
                                .then(data => {
                                            Swal.fire(
                                                "Deleted!",
                                                "Your image has been deleted.",
                                                "success"
                                            );
                                            loadImages();
                                    })
                                .catch(() => {
                                            Swal.fire(
                                                "Error!",
                                                "There was an error deleting the image.",
                                                "error"
                                            )
                                    })

                            }
                        })
                    })
                })
            });
        }

        loadImages()
    </script>
}


