@model Order
@{
    ViewData["Title"] = $"Замовлення № {Model.Number}";
}

<div class="row">
    <div class="col-md-6">
        
            <h1>@ViewData["Title"]</h1>
            <div>@await Html.PartialAsync("_OrderStatusBadge", Model)</div>
            <div>
                Оформлено: <span class="utc-date-time" data-utc="@Model.UpdatedAt.ToString("dd.MM.yyyy HH:mm")"></span>
            </div>
            @await Html.PartialAsync("_OrderItemsTable", Model)
        
    </div>
    <div class="col-md-6">
        <a asp-controller="Order" asp-action="List" class="btn btn-primary btn-lg">Мої замовлення</a>
    </div>
</div>