@model Tag
@{
    ViewData["Title"] = "Edit Tag";
}

<form method="post" class="mt-4">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Tag" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

