@model CategoryForm
@{
    ViewData["Title"] = "Create Category";

}

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_CategoryForm", Model)
    </div>
    <div class="col-md-6">
    </div>
</div>