@model CategoryForm
@{
    ViewData["Title"] = "Edit Category";
}

<form enctype="multipart/form-data" method="post" class="mt-4">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" accept=".jpg,.jpeg,.png" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

