@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var isAuthenticated = User.Identity.IsAuthenticated;

    var userEmail = User.Identity.IsAuthenticated ? User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value : null;


}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductView">Product View</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.Manager))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tag" asp-action="Index">Tags</a>
                        </li>
                    }
                </ul>

                <ul class="navbar-nav flex-grow-1 justify-content-end">

                    <li>
                        <a asp-controller="Cart" asp-action="Index">
                            <div class="cart-header-button position-relative">
                                <div class="cart-count position-absolute badge bg-danger" style="bottom: -5px; left: -10px;"></div>
                                <svg height="30"
                                     hwidth="30"
                                     viewBox="30 50 200 200" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M 48.000000 77.200000 C 43.794422 77.200000 41.400000 79.373860 41.400000 82.800000 C 41.400000 86.226140 43.794422 89.600000 48.000000 89.600000 L 64.862500 89.600000 L 84.872500 171.840000 C 86.464759 176.864758 92.641240 183.600000 99.537500 183.600000 L 186.500000 183.600000 C 193.557812 183.600000 199.375391 176.881797 201.387500 169.837500 L 221.000000 100.000000 L 93.600000 100.000000 L 97.200000 115.200000 L 201.387500 115.200000 L 186.500000 168.400000 L 99.537500 168.400000 L 79.387500 88.600000 C 77.935241 81.951289 70.264760 77.200000 64.862500 77.200000 Z M 177.200000 183.600000 C 164.781563 183.600000 154.400000 194.981563 154.400000 208.800000 C 154.400000 222.618437 164.781563 236.400000 177.200000 236.400000 C 189.618437 236.400000 200.000000 222.618437 200.000000 208.800000 C 200.000000 194.981563 189.618437 183.600000 177.200000 183.600000 Z M 108.800000 183.600000 C 96.381563 183.600000 86.000000 194.981563 86.000000 208.800000 C 86.000000 222.618437 96.381563 236.400000 108.800000 236.400000 C 121.218437 236.400000 131.600000 222.618437 131.600000 208.800000 C 131.600000 194.981563 121.218437 183.600000 108.800000 183.600000 Z M 108.800000 199.200000 C 113.175000 199.200000 116.800000 202.825000 116.800000 208.800000 C 116.800000 214.775000 113.175000 218.400000 108.800000 218.400000 C 104.425000 218.400000 100.800000 214.775000 100.800000 208.800000 C 100.800000 202.825000 104.425000 199.200000 108.800000 199.200000 Z M 177.200000 199.200000 C 181.175000 199.200000 184.800000 202.825000 184.800000 208.800000 C 184.800000 214.775000 181.175000 218.400000 177.200000 218.400000 C 173.225000 218.400000 169.600000 214.775000 169.600000 208.800000 C 169.600000 202.825000 173.225000 199.200000 177.200000 199.200000 Z" />
                                </svg>
                            </div>
                        </a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @userEmail
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="List">My Orders</a>
                                </li>
                                @if (User.IsInRole(RoleConstants.Admin))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                    </li>
                                }
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
